footer {
    margin-top: 60px;
    padding: 0 10px 10px 10px;

}

footer .container {
    border: 1px solid var(--border);

    padding:40px 40px 0 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 22px;

    background-color: #F6F2EF;
}

footer h3 {
    font-size: 18px;
    font-weight: 600;
}

footer .container .group {
    flex: 1 300px;
}

footer .container .links {
    flex: 1 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
}


footer .container .links p {
    font-size: 14px;
}

footer .container .links a {
    background-color: transparent;
    padding: 0;
    color: var(--text-dark) !important;
    line-height: 150%;

    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: var(--text-dark);
}

footer .container .links .group {
    flex: 1 200px;
}

footer .container .social {
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;

    justify-content: start;
    align-items: start;
}

footer .container .group img {
    width: 200px;
}

footer .container .group p {
    text-align: start;
    max-width: 300px;
}

footer .container hr {
    flex: 1 100%;
    margin-top: 68px;

    border-top: 1px solid var(--text-dark);
    border-bottom: none;
    opacity: 0.2;
}

footer small {
    margin-bottom: 60px;
    opacity: 0.75;
}


footer .container .made-by {
    padding-bottom: 22px;

    flex: 1 100%;
    margin: 0 auto;
    font-size: 12px;

}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

