header {
    position: relative;
    background-color: #BECBEB;

    padding: 8px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
    align-items: center;

}

header p {
    font-size: 14px;
    text-align: center;
}

.home {
    position: relative;

    background-color: var(--placeholder);
    background-image: url("../assets/home-700.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100svh;
    /* max-height: 1200px; */

    color: #FFFBF6;


    padding: 0 40px;
    display: flex;
    align-items: flex-end;
    /* border-radius: 0px 0px 32px 32px; */
}

.home h1 {
    /* font-size: 64px; */
    line-height: 110%;
    opacity: 0;

    /* padding-top: 24px; */

    /* font-size: clamp(2.125rem, 1.155vw + 1.826rem, 2.75rem);
    text-shadow: 0px 7px 15px rgba(40, 39, 46, 0.26), 0px 28px 28px rgba(40, 39, 46, 0.22), 0px 63px 38px rgba(40, 39, 46, 0.13), 0px 112px 45px rgba(40, 39, 46, 0.04), 0px 176px 49px rgba(40, 39, 46, 0.00); */
    font-size: 36px;

    font-size: clamp(2.25rem, 4.388vw + 1.115rem, 4.625rem);
    text-align: center;

    animation: intro .8s ease-in-out forwards;
}

.home p {
    opacity: 0;
    margin: 0 auto;
    text-align: center;
    animation: intro .8s ease-in-out forwards;
    animation-delay: .9s;

}

.home h1+h1 {
    opacity: 0;

    animation: intro .8s ease-in-out forwards;
    animation-delay: .5s;

}

.home sub {
    background-color: #BECBEB;
    color: var(--text-dark);


}

.home sub .icon {
    padding-top: 2px;
}

.home .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.home .container .logo {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

.home .container .line {
    display: block;
    background-color: var(--border);
    width: 1px;
    height: 200px;
}

.home .container .input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex: 1 200px;
    padding-bottom: 40px;
}


.home .group p {
    color: var(--bg);
    max-width: 350px;
}



@keyframes intro {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    50% {

        transform: translateY(0px);

    }

    100% {
        opacity: 1;
    }
}