.pricing {
    padding: 0 10px;

}

.pricing .container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 22px;
}

.pricing .container .group {
    margin-bottom: 60px;
    flex: 1 1000px;
    padding: 0 30px 0 30px;
}

.pricing .container .group span {
    color: var(--primary-text);
}

.pricing .item {
    position: relative;
    flex: 1 450px;
    max-width: 100%;
    background-color: #EBEAEA;
    padding: 40px;

    height: auto;
    border-radius: 12px;
    border: 1px solid var(--border);

}

.pricing .item .ico {
    top: 55px;
}

.pricing .item:nth-child(4) {
    background-color: #BECBEB;
}

.pricing .item:nth-child(5) {
    background-color: #eeeeee !important;

    border: 1px solid var(--border);
}

.pricing .item h2 {
    max-width: 420px;
    font-size: 36px;
}

.pricing .item p {
    max-width: 400px;
    margin-top: 34px;
    margin-bottom: 60px;
    font-family: 'Fixel Light';
}

.pricing .item span {
    font-size: 32px;
}

.pricing .item ul {
    margin-top: 26px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 36px;
}

.pricing .item ul li {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.pricing .item ul .col {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.pricing .item a {
    margin-top: 34px;
    padding: 8px 16px;
    line-height: 100%;

    color: var(--bg);

    background-color: var(--placeholder);
}

.line {
    text-decoration-line: line-through;
    opacity: 0.3;
}