.services {
    margin-top: 20px
}
.services .container .photo {
    position: relative;
}

.services .container img {
    width: 100%;
}

.services .container h3 {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 14px;
}

.services {
    padding: 0 10px;
}