.testimonials {
    max-width: 100svw;
    width: 100%;

    padding: 0 10px;
    margin: var(--margin-1) auto;
}

.testimonials .container {
    position: relative;
    background-color: var(--placeholder);
    border-radius: 12px;

    padding: 120px 40px 40px 40px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 38px;
}

.ico {
    position: absolute;
    top: 40px;
    right: 40px;
}

.testimonials .container .title {
    flex: 1 350px;
    /* border: 1px solid red; */
    padding-bottom: 34px;
}

.testimonials .container h2 {
    color: var(--bg);
    max-width: 400px;
}

.testimonials .container .item {
    flex: 1 300px;
    max-width: 300px;
    min-height: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 28px;

    color: var(--bg);
    line-height: 150%;
}

.testimonials .container .item p {
    font-family: 'Fixel Light';
    max-width: 300px;
    font-size: 14px;
    line-height: 180%;
}

.testimonials .container .item:nth-child(5) {
    flex: 1 350px;
    max-width: none;
}

.testimonials .container .item:nth-child(5) p {
    max-width: 350px;
}

.testimonials .container .item sub {
    color: #fffcf9cc;
    font-size: 14px;

    display: flex;
    flex-direction: column;
    gap: 6px;

    text-transform: none;
}

.testimonials .container .item sub span {
    display: block;
    width: 20px;
    height: 4px;

    background-color: var(--primary-text);
}

.testimonials .container .input-group {
    margin-top: 60px;

    flex: 1 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}